#carrusel{
  height: 500px;
  background-color: grey;
  float: center;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}
#barra_navegacion{
  background: black;
  margin-bottom: none;
}
.centered{

  float: center;
}

.align{
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 149px;
  margin-right: 149px;
}

body{
  background-color: grey;
}

.margin{
  margin-bottom: 30px;
}
